<%- include('../layouts/dashboard/header.ejs') %>
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            Users & Accounts
            <a href="/dashboard/add-user"
              ><button
                type="button"
                class="float-right btn btn-primary btn-rounded btn-icon"
              >
                <i class="ti-plus"></i></button
            ></a>
          </h2>
          <p class="card-description">Add class <code>.table-striped</code></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>-</th>
                  <th>Name of User</th>
                  <th>Roles</th>
                  <th>Registered</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((user) => { %>
                <tr>
                  <td class="py-1">
                    <img src="<%= user.avatar %>" alt="image" />
                  </td>
                  <td><%= `${user.surname} ${user.firstname}` %></td>
                  <td>Admin</td>
                  <td>May 15, 2015</td>
                </tr>
                <% });%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/dashboard/footer.ejs') %>
